<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.demo3.mapper.UserMapper">
    <!-- 启用二级缓存 -->
    <cache/>
   <sql id="findSql">
       <where>
           <if test="id!=null">
               AND id = #{id}
           </if>
           <if test="name!=null and name.toString()!=''">
               AND name = #{name}
           </if>
           <if test="age!=null">
               AND age = #{age}
           </if>
           <if test="idList!=null and idList.size()>=1">
               <foreach collection="idList" item="id" open="AND id in (" separator="," close=")">
                   #{id}
               </foreach>
           </if>
           <if test="likeName!=null and likeName.trim()!=''">
               <bind name="nameLike" value="'%'+likeName.trim()+'%'" />
               AND name like #{nameLike}
           </if>
       </where>
   </sql>

    <!--开启自动映射-->
    <!--<resultMap id="kk" type="com.zju.demo3.model.UserModel">-->
        <!--<id column="id" property="id" />-->
        <!--<result column="name" property="name" />-->
        <!--<result column="age" property="age" />-->
    <!--</resultMap>-->
    <!--<select id="getList1" resultMap="kk" parameterType="map">-->
        <!--SELECT id,name,age FROM user_dynamic-->
        <!--<include refid="findSql" />-->
    <!--</select>-->

   <select id="getList1"  resultType="com.zju.demo3.model.UserModel" parameterType="map">
       SELECT id,name,age FROM user_dynamic
       <include refid="findSql" />
   </select>

    <!--flushCache="true" useCache="false" 都会关闭二级缓存
     flushCache="true" 还会关闭一级缓存
     -->
    <select id="getList2" flushCache="true" useCache="false"  resultType="com.zju.demo3.model.UserModel" parameterType="map">
        SELECT id,name,age FROM user_dynamic
        <where>
            <choose>
                <when test="id!=null">
                    AND id = #{id}
                </when>
                <when test="name!=null and name.toString()!=''">
                    AND name = #{name}
                </when>
                <when test="age!=null">
                    AND age = #{age}
                </when>
            </choose>
        </where>
    </select>

    <insert id="insertBatch" parameterType="list">
        INSERT INTO user_dynamic (id,name,age) VALUES
        <foreach collection="collection" separator="," item="item">
            (#{item.id}, #{item.name}, #{item.age})
        </foreach>
    </insert>

    <delete id="delete" parameterType="list">
        DELETE FROM user_dynamic WHERE
        <foreach collection="list" item="item">
            id=#{item}
        </foreach>
    </delete>
    <update id="update1" parameterType="com.zju.demo3.model.UserModel">
        UPDATE t_user
        <trim prefix="SET" prefixOverrides="," suffixOverrides=",">
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="age!=null">
                age = #{age},
            </if>
        </trim>
        <where>
            <if test="id!=null">
                AND id = #{id}
            </if>
        </where>
    </update>



</mapper>